.main_title {
    color: blueviolet;
}
.position_container >.position_box {
    width: 90px;
    height: 90px;
    border: 1px solid black;
    display: inline-block;
}
.position_box--green {
background-color: green;
}
.position_box--red {
background-color: red;
position: relative;
top: 30px;
left: 30px;
}
.position_box--blue {
background-color: blue;
position: absolute;
top: 10px;
}
.position_box--pink {
background-color: pink;
position: sticky;
top: 2px;
}
.position_box--purple {
    background-color: purple;
    position: fixed;
    top: 700px;
    left: 700px;
}
.animation_button {
    width: 160px;
    height: 30px;
    padding: 5px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transform: translate(50px, 100px);
    transform: rotate(45deg);
}

.animation_button: :hover {

}

@keyframes rainbow {
    0% {background-color: black;}
    25% {background-color: red;}
}